body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiDataGrid-columnHeaders {
  font-size: 16px;
}

.cell-wrap {
  /* white-space: break-spaces !important; */
  max-height: 100px !important;
}
.row-wrap {
  max-height: 100px !important;
}
.swal2-container {
  z-index: 2000 !important;
}

.loader {
  position: relative;
}

.loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, #eee, transparent);
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
